html {
	font-family: Roboto, 'Helvetica Neue', 'Lucida Grande', sans-serif;
	background-color: rgb(241, 241, 241);
}

body {
	margin-left: 2.5em;
	margin-right: 2.5em;
}

/*PICTURES DISPLAY*/

div.grid-wrapper {
	display: inline-flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
}

	/* WRAPPERS */

article.picture {
	max-width: 520px;
	display: inline-block;
	position: relative;
	background: white;
    border-radius: 2px;
    margin: auto;
    margin-bottom: 2em;
    margin-right: 1em;
    box-shadow: 1px 1px 5px #888888;
}

article.picture header {
	padding: 0 1em 1em 1em;
}

	/*TITLES*/

article.picture h2.pic_name {
	font-weight: initial;
}

article.picture .pic_name {
	font-size : 2.4em;
	text-align: center;
	padding: 0.5em 0;
	margin : auto;

	/*PREVENT INPUT DISPLAY*/
	-webkit-appearance: inherit;
    background-color: inherit;
    border-width: inherit;
    border: none;
    -webkit-rtl-ordering: inherit;
    user-select: inherit;
}
	/*BUTTONS*/

.user_actions {
	padding : 1em;
}

.edit:hover:before {
	font-family: FontAwesome;
	font-size: 2em;
	content: "\f040";
}

i.del {
	color : #c13131;
	font-size: 2em;
	float: right;
	position: relative;
}

.pic_likes {
	float: left;
	margin-bottom : 15px;
}

.pic_likes:before {
	font-family: FontAwesome;
	font-size: 2em;
	content: "\f08a";
	margin-right: 20px;
}

.liked:before {
	content: "\f004";
	color : #ED0000;
}

.pic_com {
	float: right;
	margin-bottom : 15px;
}

.pic_com:before {
	font-family: FontAwesome;
	font-size: 2em;
	content: "\f10e";
	margin-right: 20px;
}

	/*DETAILS*/

article.picture a, .pic_owner {
	text-decoration: none;
	font-style: bold !important;
	color :#4ca747;
}

article.picture .details {
	display: block;
	border-top: 1px solid grey;
	text-align: right;
	font-style: italic;
}


article.picture .image {
	margin : auto;
	position : relative;
}

article.picture section.image img {
	max-width: 520px;
	width :100%;
	margin :auto;
	position: relative;
}

	/*COMMENTS*/
section.comments {
	display: block;
	width: 100%;
}

section.comments input {
	display: block;
	width : 80%;
	margin : 2em auto 1em auto;
	font-size: 15px;
}

section.comments .comment_wrapper {
	height: 170px;
	overflow-y: scroll;
	overflow-x: hidden;
}

section.comments .comment_wrapper div.com {
	padding: 0 1em 0 3em;
	margin-bottom: 1em;
}

section.comments .comment_wrapper .com p.com_details {
	font-weight: bold;
	margin : 0;
}

section.comments .comment_wrapper .com p.com_content {
	margin : 0;
}

section.comments .comment_wrapper .com span.com_date {
	font-weight: bold;
	font-size : 12px;
	color : #808080;
	margin-left: 3em;
}

section.comments .load_button {
	display: block;
	height: 2em;
	text-align: center;
	background-color: #4ca747;
	color: white;
	line-height: 2em;
}

section.comments .com_error {
	display: block;
	height: 2em;
	text-align: center;
	background-color: #3d543c;
	color: darkgrey;
	line-height: 2em;
}