html {
	font-family: Roboto, 'Helvetica Neue', 'Lucida Grande', sans-serif;
	color: black;
	background-color: rgb(241, 241, 241);
}

body {
	margin : 0;
}

.body {
	margin-left: 2.5em;
	margin-right: 2.5em;
	margin-bottom: 7em;
}

h1 {
	text-align: center;
	background: white;
	padding: 1em;
}

h1, article, #startbutton {
	background: white;
	border-radius: 2px;
	box-shadow: 1px 1px 5px #888888;
}

footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: #262926;
	color: #7b7b7b;
	font-size: 80%;
}

footer a {
	color: #7b7b7b;
	text-decoration: none;
	margin: auto;
}

footer #mysite {
	color : #d8d8d8;
	text-decoration: underline;
}

footer p {
	margin-right: 2em;
}

footer ul {
	text-decoration: none;
	list-style: none;
}

/* HEADER */

body > header {
    background-color: white;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    height: 7em;
    margin-bottom: 3em;
}

	body > header a {
		margin: auto;
		color: black;
		text-decoration: none;
	}

	body > header a#logo {
		font-size : 4em;
		font-family: 'Pacifico', sans-serif;
		flex-basis:50%;
		text-align: center;
	}

	ul#account_menu {
		display: none;
		position: absolute;
		right: 8%;
		top: 5em;
		background-color: white;
		list-style: none;
		box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
		padding : 1em;
		z-index: 1;
		border : 1px solid lightgrey;
		border-top : none;
	}
	ul#account_menu li {
		line-height: 3em;
		border-bottom : 1px solid lightgrey;
	}

/* ALERT */

	p#alert {
		background-color: #ca6969;
	    border: 1px solid darkred;
	}

	p#message {
		background-color: #3caf64;
	    border: 1px solid darkgreen;
	}

	p#alert, p#message {
	    padding: 1em;
	    text-align: center;
	    color: white;
	}

	p#alert:after, p#message:after {
		content: "\f00d";
	    font-family: FontAwesome;
	    font-style: normal;
	    font-weight: normal;
	    text-decoration: inherit;
	    float: right;
	}

/* VIDEO DISPLAY */

	img#upload_prev {
		width: 80%;
		max-width: 650px;
	}

	#video, #upload_prev {
		position: absolute;
	}

	#cover {
		max-width : 650px;
		width: 80%;
		padding: 0;
		margin: auto;
		display: block;
		position: relative;
		background-size: cover;
	}

	#main {
	    width: 100%;
	    float: left;
    	display: inline-block;
    	position: relative;
	}

	#video {
		width: 100%;
		margin-bottom: 5%;
	}

	#preview {
		position: relative;
		display: inline-block;
		width: 29%;
		height: 80vh;
		float : right;
		border-left: 2px inset white;
		margin: auto;
		overflow-x : hidden;
		overflow-y : scroll;
	}

	.new_picture * {
		max-width: 100%;
	}

	.new_picture {
		width: 90%;
		position: relative;
		margin: auto;
	}

	#startbutton {
		display: block;
		width: 30%;
	    padding: 2% 4%;
	    border-bottom: 2px solid #000;   
	    font-size: 100%;
	    margin: auto;
	    margin-top :2em;
	    margin-bottom: 5%;
	}

/* MOBILE VIDEO DISPLAY */
	@media screen and (max-width: 700px) {
	    body {
	    	font-size: 60% !important;
	    }

	    article.picture {
	    	min-width: 80% !important;
	    	margin :auto;
	    }
	}

	@media screen and (max-width: 1025px) {
	    body {
	    	font-size: 80%;
	    }

	    .grid-wrapper article.picture .image {
	    	height: auto !important;
	    }

	    #main, #preview, #cover {
	        width : 100% !important;
	        position: relative;
	        display: inline-block;
	        float :none;
	        margin: auto;
	    }

	    #cover {
	    	display: block;
	    }

	    #preview {
	    	margin-top: 2em;
	    	border : none;
	    	overflow: visible;
	    }

	    .new_picture {
	    	width : 50%;

	    }
	}


	/* sticker list */
	
	#stickers-list {
		display: block;
		padding : 0;
    	overflow-x: scroll;
	}

	#stickers-list li {
		display: table-cell;
	}

	.sticks {
	    max-height: 110px;
	    margin: 0px 1em;
    	padding: 5px;
	}

	#selected {
		border : 1px solid black;
	}

/* PICTURES DISPLAY */

	div.grid-wrapper {
		display: inline-flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
	}

	/* WRAPPERS */

	article.picture.stretched {
		max-height: initial;
	}
	
	article.picture {
		max-height: 590px;
		margin-bottom: 2em;
		display: inline-block;
		position: relative;
	}
	
	.grid-wrapper article.picture {
		min-width: 520px;

	}

	article.picture header {
		padding: 0 1em 1em 1em;
	}

	/*TITLES*/

	article.picture h2.pic_name {
		font-weight: initial;
	}

	article.picture .pic_name {
		font-size : 2.4em;
		text-align: center;
		padding: 0.5em 0;
		margin : auto;
		width:100%;

		/*PREVENT INPUT DISPLAY*/
		-webkit-appearance: inherit;
	    background-color: inherit;
	    border-width: inherit;
	    border: none;
	    -webkit-rtl-ordering: inherit;
	    user-select: inherit;
	}

	/* IMAGE */

	article.picture .image {
		margin : auto;
		position : relative;
	}

	.grid-wrapper article.picture .image {
		height : 380px;
	}

	article.picture .image img {
		max-width: 520px;
		max-height: 380px;
		width :100%;
		margin :auto;
		position: relative;
	}

	/*DETAILS*/

	article.picture a, .pic_owner {
		text-decoration: none;
		font-weight: bold !important;
		color : #4ca747;
	}

	article.picture .details {
		display: block;
		border-top: 1px solid grey;
		text-align: right;
		font-style: italic;
	}


	/* Handling RENAME FORM */

	.pic_name.wrong {
		outline: none;
		box-shadow: 0 0 3px 3px red;
		padding: 3%;
		border: 1px solid red;
	}
	.pic_name.edited {
		outline: none;
		box-shadow: 0 0 3px 3px green;
		padding: 3%;
		border: 1px solid green;
	}

	.fa-times-circle:before {
	    padding-left: 10px;
	    color: red;
	}

	.fa-check-circle:before {
		padding-left: 10px;
		color : green;
	}

	/*BUTTONS*/

	.user_actions {
		padding : 1em;
	}

	i.del {
		color : #c13131;
		font-size: 2em;
		float: right;
		position: relative;
	}

	.pic_likes {
		float: left;
		margin-bottom : 15px;
	}

	.pic_likes:before {
		font-family: FontAwesome;
		font-size: 2em;
		content: "\f08a";
		margin-right: 20px;
	}

	.liked:before {
		content: "\f004";
		color : #ED0000;
	}

	.pic_com {
		float: right;
		margin-bottom : 15px;
	}

	.pic_com:before {
		font-family: FontAwesome;
		font-size: 2em;
		content: "\f10e";
		margin-right: 20px;
	}

	/*COMMENTS*/
	
	section.comments {
		display: block;
		width: 100%;
	}

	section.comments input {
		display: block;
		width : 80%;
		margin : 2em auto 1em auto;
		font-size: 15px;
	}

	section.comments .comment_wrapper {
		height: 170px;
		overflow-y: scroll;
		overflow-x: hidden;
	}

	section.comments .comment_wrapper div.com {
		padding: 0 1em 0 3em;
		margin-bottom: 1em;
	}

	section.comments .comment_wrapper .com p.com_details {
		font-weight: bold;
		margin : 0;
	}

	section.comments .comment_wrapper .com p.com_content {
		margin : 0;
	}

	section.comments .comment_wrapper .com span.com_date {
		font-weight: bold;
		font-size : 12px;
		color : #808080;
		margin-left: 3em;
	}

	section.comments .load_button {
		display: block;
		height: 2em;
		text-align: center;
		background-color: #4ca747;
		color: white;
		line-height: 2em;
	}
		
	section.comments .com_error {
		display: block;
		height: 2em;
		text-align: center;
		background-color: #3d543c;
		color: darkgrey;
		line-height: 2em;
	}

/* FORM PAGES */
	.form {
	    max-width: 400px;
	    margin: 10px auto;
	    padding: 16px;
	    background: #FFF;
	    text-align: center;
	}

	.form h2 {
		font-weight: normal;
	    background: #4ca747;
	    padding: 20px 0;
	    text-align: center;
	    color: #fff;
	    margin: -16px -16px 16px -16px;
	}

	.form form {
		margin-bottom: 5%;
	}

	.form fieldset {
		margin-bottom: 8%;
	}

	.form fieldset {
		padding-top: 8%;
	}

	.form .details {
		margin-top: -5%;
		font-size: 70%;
		color: #949494;
	}

	.form input[type="text"],
	.form input[type="date"],
	.form input[type="password"],
	.form input[type="email"],
	.form textarea,
	.form select {
		box-sizing: border-box;
	    -webkit-box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    outline: none;
	    width: 100%;
	    background: #f7f7f7;
	    margin-bottom: 8%;
	    border: 1px solid #ccc;
	    padding: 3%;
	    color: #555;
	    font: 95% Arial, Helvetica, sans-serif;
	}

	.form input[type="text"]:focus,
	.form input[type="date"]:focus,
	.form input[type="email"]:focus,
	.form input[type="password"]:focus,
	.form textarea:focus,
	.form select:focus {
	    box-shadow: 0 0 5px #4ca747;
	    padding: 3%;
	    border: 1px solid #4ca747;
	}

	.form input[type="submit"],
	.form input[type="button"] {
	    box-sizing: border-box;
	    -webkit-box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    width: 100%;
	    padding: 4%;
	    background: #4ca747;
	    border : none;
	    border-bottom: 2px solid #11580d;   
	    color: #fff;
	    font-size: 100%;
	}

	.form input[type="submit"]:hover,
	.form input[type="button"]:hover {
	    background: #2a5d28;
	}

	.form input[type="submit"]:disabled,
	.form input[type="button"]:disabled {
	    background: #a9a9a9;
	    color: grey;
	    border-bottom: 1px solid black;
	}

	.form input.wrong, .form input.wrong:focus {
		box-shadow: 0 0 5px #ff0000;
	    border: 1px solid #ff0000;
	}

	.form a {
		display: block;
		margin-top: 1em;
	}

	.form a:before {
		content: ' ';
		display: block; 
	}

/* VIDEO */
